# Порт, на котором работает сервер
PORT=443

# Строка подключения к PostgreSQL
DATABASE_URL="postgresql://alimdz9i:W7UDc3K76xbN@localhost:5432/kars?schema=public"

# Опционально: директория для загрузки файлов (если используешь глобально)
UPLOAD_DIR="./uploads"

# Для отладки (если нужно)
NODE_ENV=production
